body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.flip {
  width: 100%;
  height: 250px;
  text-align: center;
  perspective: 600px;
  margin: 30px;
}
.flip-content {
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}
.flip:hover .flip-content {
  transform: rotateY(180deg);
  transition: transform 0.3s;
}
.flip-front,
.flip-back {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 150px;
  backface-visibility: hidden;
  background-color: lightseagreen;
  color: #fff;
  border: 6px solid lightcoral;
  box-shadow: 6px 6px lightseagreen;
  overflow: hidden;
}
.flip-back {
  transform: rotateY(180deg);
  border: 6px solid rgb(21, 111, 107);
  box-shadow: 6px 6px lightcoral;
}
